
/* RESET */

body{
  margin: 0px;
  box-sizing: border-box;
}

/**********/

@keyframes movimientoaguja{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes movimientoagujasec{
  0% {transform: rotate(0deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(6deg);}
}



body{
  background-color:aliceblue;
}
#clock {
  width: 400px;
  height: 400px;
  margin: 80px auto;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  background-color: skyblue;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(5%, rgba(255,255,255,1)), color-stop(47%, rgba(232,248,255,1)), color-stop(94%, rgba(184,236,255,1)), color-stop(100%, rgba(184,236,255,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#b8ecff',GradientType=0 ); /* ie6-9 */ 
  
}

#borde {
  width: 450px;
  height: 450px;
  margin-left: 130px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-25px, -25px);  
  background: -moz-radial-gradient(center, ellipse cover, rgba(84,84,84,1) 61%, rgba(117,117,117,1) 62%, rgba(250,250,250,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(61%, rgba(84,84,84,1)), color-stop(62%, rgba(117,117,117,1)), color-stop(66%, rgba(250,250,250,1)), color-stop(69%, rgba(127,127,127,1)), color-stop(70%, rgba(87,87,87,1)), color-stop(72%, rgba(33,33,33,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(84,84,84,1) 61%, rgba(117,117,117,1) 62%, rgba(250,250,250,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(84,84,84,1) 61%, rgba(117,117,117,1) 62%, rgba(250,250,250,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(84,84,84,1) 61%, rgba(117,117,117,1) 62%, rgba(250,250,250,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(84,84,84,1) 61%, rgba(117,117,117,1) 62%, rgba(250,250,250,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#212121',GradientType=1 ); /* ie6-9 */
  
}

#seconds {
  width: 4px;
  height: 180px;
  background-color: red;
  margin-left: 198px;
  margin-top: 20px;
  position: absolute;
  transform-origin: bottom;
  animation: movimientoaguja linear 60s infinite/*, movimientoagujasec ease-out 1s infinite*/;
  z-index: 2;
}

#minutes {
  width: 6px;
  height: 140px;
  background-color: darkslategray;
  margin-left: 198px;
  margin-top: 60px;
  transform-origin: bottom;
  position: absolute;
  animation: movimientoaguja linear 3600s infinite;
  z-index: 1;
}

#hours {
  width: 8px;
  height: 120px;
  background-color: black;
  margin-left: 196px;
  margin-top: 35px;
  transform-origin: bottom;
  transform: translatey(45px);
  position: absolute;
  color: red;
  border-radius: 50px;
 
}



