
/* RESET */

body{
  margin: 0px;
  box-sizing: border-box;
}

/**********/

@keyframes movimientoaguja{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes movimientoagujasec{
  0% {transform: rotate(0deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(6deg);}
}



body{
  background-color:aliceblue;
}
#clock {
  width: 400px;
  height: 400px;
  margin: 25px auto;
  border: 1px  black;
  border-radius: 50%;
  position: relative;
  background: url("https://cssanimation.rocks/images/posts/clocks/ios_clock.svg") no-repeat;
  background-size: 90%;
  background-position: center;
/*  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%); 
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(5%, rgba(255,255,255,1)), color-stop(47%, rgba(232,248,255,1)), color-stop(94%, rgba(184,236,255,1)), color-stop(100%, rgba(184,236,255,1))); 
  background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%); 
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%); 
  background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(232,248,255,1) 47%, rgba(184,236,255,1) 94%, rgba(184,236,255,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#b8ecff',GradientType=0 );  
  opacity: 0.5;*/
  
}

#contenedorReloj {
  transform: translate(25px, 25px);  
}

#borde {
  width: 450px;
  height: 450px;
  margin-left: 130px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;  
  background: -moz-radial-gradient(center, ellipse cover, rgba(240,240,240,1) 61%, rgba(117,117,117,1) 62%, rgba(242,245,247,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(61%, rgba(240,240,240,1)), color-stop(62%, rgba(117,117,117,1)), color-stop(66%, rgba(242,245,247,1)), color-stop(69%, rgba(127,127,127,1)), color-stop(70%, rgba(87,87,87,1)), color-stop(72%, rgba(33,33,33,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(240,240,240,1) 61%, rgba(117,117,117,1) 62%, rgba(242,245,247,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(240,240,240,1) 61%, rgba(117,117,117,1) 62%, rgba(242,245,247,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(240,240,240,1) 61%, rgba(117,117,117,1) 62%, rgba(242,245,247,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(240,240,240,1) 61%, rgba(117,117,117,1) 62%, rgba(242,245,247,1) 66%, rgba(127,127,127,1) 69%, rgba(87,87,87,1) 70%, rgba(33,33,33,1) 72%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#212121',GradientType=1 ); /* ie6-9 */
}

#eje, #eje:after {
  width: 20px;
  height: 20px;
  margin-left: 190px;
  margin-top: 187px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  z-index: 2;
  position: absolute;
}

#seconds {
  width: 4px;
  height: 180px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(144,0,0,1) 14%, rgba(246,0,0,1) 48%, rgba(160,0,0,1) 86%, rgba(0,0,0,1) 100%);   margin-left: 198px;
  margin-top: 20px;
  position: absolute;
  transform-origin: bottom;
  animation: movimientoaguja linear 60s infinite/*, movimientoagujasec ease-out 1s infinite*/;
  z-index: 2;
}

#minutes {
  width: 6px;
  height: 140px;
  background-color: darkslategray;
  margin-left: 198px;
  margin-top: 60px;
  transform-origin: bottom;
  position: absolute;
  animation: movimientoaguja linear 3600s infinite;
  z-index: 1;
}

#hours {
  width: 8px;
  height: 120px;
  background-color: black;
  margin-left: 196px;
  margin-top: 35px;
  transform-origin: bottom;
  transform: translatey(45px);
  position: absolute;
  color: red;
  border-radius: 50px;
 
}



